
  .login {
    margin-top: 40px;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  input {
    margin-top: 10px;
    width: 100%;
    padding: 15px;
  }
  input, textarea{
    background-color:#bfbfbf;
  }
  p {
    margin-top: 40px;
    font-size: 13px;
  }
  p a {
    text-decoration: underline;
    cursor: pointer;
  }
  #logo{
    width: 720px;
    height: 237px;
    top: 60px;
    left: 60px;
    margin-left: -100px;
  }

